
{% extends "base.html" %}
{% load static %}
{% block content %}        
        <div class="fame-heading">
            <div class="fame-wrap">
                <h1>Доска почёта</h1>
                <div class="fame-heading__line"></div>
                <div class="fame-heading__federation">Костромской Федерации Тхэквондо ИТФ</div>
            </div>
        </div>
        <div class="wrapper">
            <ul class="fame__list">
                {% for item in page_obj %}
                <li class="fame-item">
                   
                    <div class="fame-item__slider">
                        <div class="gallery" data-setting="setup1">
                            <div class="slider">
                                <div class="stage">
                                    {% for image in item.images.all %}
                                    <div>
                                        <img src="{{  image.image.url }}" alt="">
                                    </div>
                                   {% endfor %}
                                </div>
                            </div>
                            <div class="control">
                                <div class="nav-ctrl" data-hidden="true">
                                    <span class="prev" data-shift="prev"></span>
                                    <span class="next" data-shift="next"></span>
                                </div>
                                <ul class="dots-ctrl" data-hidden="true"></ul>
                            </div>
                        </div>
                    </div>
                    <a href="" class="fame-item__link">
                        <h5>{{ item.title }}</h5>
                        <p>2{{ item.date_start }} - {{ item.date_finish }}</p>
                    </a>
                   
                </li>
                {% endfor %}

            </ul>
            <div class="pagination">
                Страница: {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </div>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <button class="pagination__btn" onclick="document.location='?page=1'">1</button>
                    <button class="pagination__btn" onclick="document.location='?page={{ page_obj.previous_page_number }}'"><</button>
                {% endif %}

                {% if page_obj.has_next %}
                    <button class="pagination__btn"  onclick="document.location='?page={{ page_obj.next_page_number }}'">></button>
                    <button class="pagination__btn" onclick="document.location='?page={{ page_obj.paginator.num_pages }}'">{{ page_obj.paginator.num_pages }}</button>
                {% endif %}
            </div>
        </div>
        <button id="scroll__btn" onclick="topFunction()">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.30732e-05 50C1.18662e-05 77.6142 22.3858 100 50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 -9.78513e-07 50 -2.18557e-06C22.3858 -3.39263e-06 1.42803e-05 22.3858 1.30732e-05 50Z" fill="#ACB0B2"/>
                <path d="M70 49.999L50 29.999L30 49.999" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M50 69.999L50 29.999" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <script type="text/javascript">
            const setting = {
                setup1: {
                    // включаем постраничную навигацию
                    dots: false,
                    // включаем управление с клавиатуры клавишами навигации "вправо / влево"
                    keyControl: true,
                    // настройки галереи в зависимости от разрешения
                    adaptive: {
                      1224: {
                        // одновременно выводятся 3 элемента
                        visibleItems: 3
                      },
                                768: {
                                    visibleItems: 2
                                },
                                425: {
                                    visibleItems: 1
                                }
                    }
                  }
                };
        </script>
    <script src="{% static 'js/gallery.js' %}"></script>
 {% endblock content %}