{% extends "base.html"%}
{% load static %}
{%block content%}
        


<div class="news-wrap wrapper">
            <h3>Новости Костромской Федерации Тхэквондо ИТФ</h3>
            <ul class="news__ul">
                {% for item in page_obj %}
                {% if item.deleted == False %}
                <li>
                    <a href="{% url 'mainapp:news_detail' pk=item.pk %}">
                        <div class="news__img">
                            <img src ="{{ item.main_picture.url }}" class="news__img">
                        </div>
                        <div class="news__text">
                            <p class="news__date">{{ item.created_at|date:"Y-m-d" }}</p>
                            <p class="news__heading">{{ item.title }}</p>
                            <p class="news__description">{{ item.preambule }}</p>
                        </div>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="pagination">
                Страница: {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </div>

            <div class="pagination">

                {% if page_obj.has_previous %}
                    <button class="pagination__btn" onclick="document.location='?page=1'">1</button>
                    <button class="pagination__btn" onclick="document.location='?page={{ page_obj.previous_page_number }}'"><</button>
                {% endif %}
        
                {% if page_obj.has_next %}
                    <button class="pagination__btn"  onclick="document.location='?page={{ page_obj.next_page_number }}'">></button>
                    <button class="pagination__btn" onclick="document.location='?page={{ page_obj.paginator.num_pages }}'">{{ page_obj.paginator.num_pages }}</button>
                {% endif %}
        
            </div>
        </div>
      
    </div>
    <button id="scroll__btn" onclick="topFunction()">
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.30732e-05 50C1.18662e-05 77.6142 22.3858 100 50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 -9.78513e-07 50 -2.18557e-06C22.3858 -3.39263e-06 1.42803e-05 22.3858 1.30732e-05 50Z" fill="#ACB0B2"/>
            <path d="M70 49.999L50 29.999L30 49.999" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M50 69.999L50 29.999" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>


{%endblock content%}
    