{% extends "base.html"%}
{% load static %}
{%block content%}
        


<div class="news-wrap wrapper">
            <h3>Новости Костромской Федерации Тхэквондо ИТФ</h3>
                <!--TODO
                Исправить проблему с отображением новостей при загрузке их из БД
                -->
            <ul class="news__ul">
                {% for item in news_qs %}
                <li>
                    <a href="{% url 'mainapp:news_detail' pk=item.pk %}">
                        <div class="news__img">
                            <img src ="{{ item.main_picture.url }}" class="news__img">
                        </div>
                        
                        <div class="news__text">
                            <p class="news__date">{{ item.created_at|date:"Y-m-d" }}</p>
                            <p class="news__heading">{{ item.title }}</p>
                            <p class="news__description">{{ item.preambule }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    

{%endblock content%}
    