{% extends 'base.html' %}
{% load static %}
{%block content%}
        <div class="video">
            <div class="wrapper video-wrap">
                <div class="video__top">
                    <a href="{% url 'mainapp:main_page' %}">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.5 44C34.3741 44 44 34.3741 44 22.5C44 10.6259 34.3741 1 22.5 1C10.6259 1 1 10.6259 1 22.5C1 34.3741 10.6259 44 22.5 44Z" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.4994 13.8999L13.8994 22.4999L22.4994 31.0999" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.0994 22.5H13.8994" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    {% for item in video_qs %}
                    <div class="video__top__text">
                        <h1>{{ item.title }}</h1>
                        <p>{{ item.date|date:"Y-m-d" }}</p>
                    </div>
                </div>
                <ul class="video-list">
                    <li class="video-list__item">
                        <iframe width="400" height="288" border-radius="10px" src= "{{ item.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                    <li class="video-list__item">
                        <iframe width="400" height="288" border-radius="10px" src="https://www.youtube.com/embed/nNNDxcSed6c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                    <li class="video-list__item">
                        <iframe width="400" height="288" border-radius="10px" src="https://www.youtube.com/embed/nNNDxcSed6c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
{% endblock content %}
