{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="video">
            <div class="wrapper video-wrap">
                <h1>Видео</h1>
                <ul class="video-list">
                    <li class="video-list__item">
                        <img class="video-img" src="{% static 'img/video-preview1.jfif' %}" alt="news-vacation">
                        <a href="/static/videos/comp_tyla.html" class="video-link">
                            <span class="video-link__text">Летний лагерь</span>
                            <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">                            
                                <path d="M22.5 44.7178C10.6259 44.7178 1 35.0919 1 23.2178C1 11.3437 10.6259 1.71777 22.5 1.71777C34.3741 1.71777 44 11.3437 44 23.2178C44 35.0919 34.3741 44.7178 22.5 44.7178Z" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5006 14.6178L31.1006 23.2178L22.5006 31.8178" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.9006 23.2178H31.1006" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="video-list__item">
                        <img class="video-img" src="./img/video-preview2.png" alt="news-vacation">
                        <a href="" class="video-link">
                            <span class="video-link__text">Лучшие спортсмены и <br> тренеры нашей федерации</span>
                            <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">                            
                                <path d="M22.5 44.7178C10.6259 44.7178 1 35.0919 1 23.2178C1 11.3437 10.6259 1.71777 22.5 1.71777C34.3741 1.71777 44 11.3437 44 23.2178C44 35.0919 34.3741 44.7178 22.5 44.7178Z" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5006 14.6178L31.1006 23.2178L22.5006 31.8178" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.9006 23.2178H31.1006" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="video-list__item">
                        <img class="video-img" src="./img/video-preview3.png" alt="news-vacation">
                        <a href="" class="video-link">
                            <span class="video-link__text">Награждение от&nbsp;комитета по&nbsp;спорту</span>
                            <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">                            
                                <path d="M22.5 44.7178C10.6259 44.7178 1 35.0919 1 23.2178C1 11.3437 10.6259 1.71777 22.5 1.71777C34.3741 1.71777 44 11.3437 44 23.2178C44 35.0919 34.3741 44.7178 22.5 44.7178Z" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5006 14.6178L31.1006 23.2178L22.5006 31.8178" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.9006 23.2178H31.1006" stroke="#ACB0B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="popup">
            <div action="" class="popup">
                <h1>Запись на пробное занятие Вашего ребенка</h1>
                <svg class="close__svg" onclick="document.getElementById('popup').style.display='none'" width="46" height="46" viewBox="0 0 46 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.4551 2.26456C34.7769 2.26456 43.9551 12.1792 43.9551 24.4096C43.9551 36.64 34.7769 46.5547 23.4551 46.5547C12.1332 46.5547 2.95508 36.64 2.95508 24.4096C2.95508 12.1792 12.1332 2.26456 23.4551 2.26456ZM45.9551 24.4096C45.9551 10.986 35.8815 0.104065 23.4551 0.104065C11.0287 0.104065 0.955078 10.986 0.955078 24.4096C0.955078 37.8332 11.0287 48.7152 23.4551 48.7152C35.8815 48.7152 45.9551 37.8332 45.9551 24.4096Z" fill="#ACB0B2"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1992 16.5714C16.5246 16.2199 17.0522 16.2199 17.3777 16.5714L23.4551 23.1365L29.5325 16.5714C29.8579 16.2199 30.3856 16.2199 30.711 16.5714C31.0364 16.923 31.0364 17.493 30.711 17.8445L24.6336 24.4096L30.711 30.9747C31.0364 31.3263 31.0364 31.8963 30.711 32.2478C30.3856 32.5994 29.8579 32.5994 29.5325 32.2478L23.4551 25.6827L17.3777 32.2478C17.0522 32.5994 16.5246 32.5994 16.1992 32.2478C15.8737 31.8963 15.8737 31.3263 16.1992 30.9747L22.2766 24.4096L16.1992 17.8445C15.8737 17.493 15.8737 16.923 16.1992 16.5714Z" fill="#ACB0B2"/>
                </svg>
                <form action="#">
                    <input type="text" placeholder="ФИО родителя" name="parentname" required>
                    <input type="tel" placeholder="Ваш телефон в формате +7 000 000 0000" pattern="+[0-9]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    <input type="text" placeholder="ФИО ребенка" required>
                    <input type="number" placeholder="Возраст ребенка" min="4" max="18" required>
                    <select name="hall" placeholder="Выбор зала">
                        <option value="no-hall-selected">Зал для тренировок</option>
                        <option value="spartak">С/К &laquo;Спартак&raquo;</option>
                        <option value="martial-arts">&laquo;Зал единоборств&raquo;</option>
                        <option value="blue-bird">С/К &laquo;Синяя птица&raquo;</option>
                        <option value="orange">Ф/К &laquo;Апельсин&raquo;</option>
                        <option value="lyceum-41">Лицей &#8470;&nbsp;41</option>
                        <option value="gymnasium-25">Гимназия &#8470;&nbsp;25</option>
                        <option value="school-21">Школа &#8470;&nbsp;21</option>
                        <option value="school-31">Школа &#8470;&nbsp;31</option>
                        <option value="recreation-center">&laquo;Дворец культуры&raquo;</option>
                        <option value="school-37">Школа &#8470;&nbsp;37</option>
                        <option value="hotel-tretyakov">Отель &laquo;Третьяков&raquo;</option>
                    </select>
                    <select placeholder="Выбор тренера">
                        <option value="no-trainer-selected">Выбор тренера</option>
                        <option value="maklakov">Маклаков Вячеслав Павлович</option>
                        <option value="shustova">Шустова Наталья Александровна</option>
                        <option value="sokolov">Соколов Павел Игоревич</option>
                        <option value="koshkarov">Кошкаров Борис Николаевич</option>
                        <option value="tcyvarev">Цыварев Игорь Викторович</option>
                        <option value="ser">Сер Андрей Романович</option>
                        <option value="usacheva">Усачева Ольга Анатольевна</option>
                    </select>
                    <button>Отправить</button>
                </form>
            </div>
        </div>
{% endblock content%}
  