/*переменные*/
$main-red: #E31E26;
$main-pink: #F95858;
$main-black: #2B2A29;
$main-darkgrey: #424141;
$main-lightgrey: #ACB0B2;
$main-white: #FFFFFF;

$desktop-wrap: 1240px;
$tablet-wrap: 700px;
$phone-wrap: 388px;