@charset "UTF-8";
/*переменные*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 1240px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.map-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin: 60px 0 40px 0;
}

@font-face {
  font-family: "SudoVar";
  font-weight: 400;
  font-style: normal;
  src: url("/static/style/font/SudoVariable.ttf");
}

.header-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.header-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
}

.header-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 61px;
}

.phone-number {
  margin-left: 4px;
  font-size: 16px;
  line-height: 20px;
}

.subscribe-btn {
  background-color: #E31E26;
  border: 1px solid #E31E26;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 10px 50px;
  border-radius: 6px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.subscribe-btn:hover {
  background-color: #FFFFFF;
  color: #E31E26;
}

.hamburger-menu {
  width: 100px;
  position: relative;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ACB0B2;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #ACB0B2;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #ACB0B2;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: -100px;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #424141;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  z-index: 2;
  display: block;
  position: absolute;
  visibility: hidden;
  top: -51px;
  left: -100%;
  width: 450px;
  padding-left: 80px;
  padding-top: 114px;
  padding-bottom: 200px;
  list-style: none;
  background-color: #424141;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition-duration: 0.3s ease;
          transition-duration: 0.3s ease;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition-duration: 0.3s in;
          transition-duration: 0.3s in;
}

.menu__item:hover {
  background-color: #ACB0B2;
}

.footer {
  background-color: #424141;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 35px 0;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #bfbfbf;
}

.footer-logo__svg {
  margin-bottom: 4px;
}

.footer-admin {
  text-decoration: none;
  color: #bfbfbf;
  margin-top: 14px;
  font-weight: 400;
}

.footer-subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 10px;
  font-style: normal;
}

.footer-list {
  list-style-type: none;
}

.footer-list-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bfbfbf;
}

.footer-list-link:hover {
  text-decoration: underline;
}

.footer-list__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
  margin-left: 11px;
}

.footer-social {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-social-item {
  margin: 30px 20px 0 0;
}

.footer-social-link:hover svg circle {
  fill: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-social-link__last:hover svg circle {
  fill: #424141;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-social-link__last:hover svg path {
  fill: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 65px;
}

.promo-list-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #2B2A29;
  margin-bottom: 80px;
}

.promo-list-item__red {
  font-weight: 600;
  font-size: 60px;
  line-height: 25px;
  color: #E31E26;
  opacity: 0;
}

.promo-col1 {
  width: 330px;
  margin-right: 70px;
}

.promo-col2 {
  width: 340px;
  margin-right: 60px;
}

.promo-col3 {
  width: 270px;
}

.visible {
  opacity: 1;
  -webkit-transition: 1.8s;
  transition: 1.8s;
}

.about-promo {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("/static/img/landscape.png");
}

.about-promo__wrap {
  min-height: 514px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about-promo__span {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  display: block;
  width: 616px;
  margin-top: 89px;
}

.about-promo__img {
  position: absolute;
  bottom: 0;
  right: -20px;
}

.about-promo__text__heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #424141;
  margin-bottom: 24px;
}

.about-promo__text__meaning {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
  color: #424141;
  margin-bottom: 64px;
}

.advantages {
  background-color: #424141;
  height: 420px;
}

.advantages-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -73px;
}

.advantages-card {
  width: 280px;
  height: 416px;
  border-radius: 24px;
  border: 2px solid #424141;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}

.advantages-card__svg {
  margin-bottom: 16px;
}

.advantages-card__heading {
  height: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2B2A29;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.advantages-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
  text-align: center;
}

.main-news {
  height: 557px;
}

.main-news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-news__heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #050505;
  margin: 60px 0 40px 0;
}

.main-news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style-type: none;
  margin-bottom: 30px;
}

.main-news-list__item {
  position: relative;
  width: 400px;
  height: 288px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px 0px #ACB0B2CC;
          box-shadow: 3px 3px 3px 0px #ACB0B2CC;
}

.main-news__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 34px;
  background-color: #2B2A29;
  border: 2px solid #2B2A29;
  border-radius: 6px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main-news__link:hover {
  color: #2B2A29;
  background-color: transparent;
}

.news-img {
  width: 401px;
  height: inherit;
}

.news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 401px;
  padding: 0 14px 0 19px;
  background: #424141CC;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news-link:hover {
  background-color: #424141;
  text-decoration: underline;
  color: #FFFFFF;
}

.news-link__text {
  max-width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.banner {
  height: 400px;
  background: #595959;
}

.banner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 68px;
  margin-bottom: 55px;
}

.banner-offer__text {
  width: 228px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.banner-offer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-offer__bottom__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
  color: #FFFFFF;
  margin-bottom: 15px;
  width: 388px;
}

.banner-offer__bottom__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 10px 49px;
  border-radius: 6px;
  border: 2px solid #E31E26;
  background-color: #E31E26;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.banner-offer__bottom__btn:hover {
  color: #E31E26;
  background-color: #FFFFFF;
}

.banner-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 45px;
  margin-top: 69px;
}

.banner-cost__text {
  position: absolute;
  top: 90px;
  width: 213px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.slider {
  position: relative;
}

.slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item {
  height: 400px;
}

.slider-item__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  position: absolute;
  bottom: 0px;
}

.slider-item__dot {
  fill: #ACB0B2;
  margin: 6px;
}

.slider-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/img/grey-textured-background.png");
  background-size: cover;
}

.slider-item1 img:nth-child(2) {
  margin: 50px 25px;
}

.slider-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.slider-item2__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -55px;
  padding: 30px 60px;
  background-color: #E3E4E7;
  border-radius: 10px;
  -webkit-box-shadow: -10px 10px 12px 0px #00000030;
          box-shadow: -10px 10px 12px 0px #00000030;
  -webkit-box-shadow: -2px 2px 5px 0px #0000005E;
          box-shadow: -2px 2px 5px 0px #0000005E;
}

.slider-item2__text__article {
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 14px;
  width: 555px;
}

.slider-item2__text__small {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #424141;
  text-align: end;
}

.slider-item2__img {
  position: absolute;
  right: -120px;
}

.slider-item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  background-image: url("/static/img/lightgrey-textured-background.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slider-item3__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.slider-item3__text__article {
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #2B2A29;
  max-width: 624px;
  margin-top: 42px;
}

.slider-item3__text__small {
  font-family: "SudoVar";
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  bottom: 50px;
  left: 40%;
  width: 410px;
}

.slider-item3 img:nth-child(1) {
  margin: 63px 79px 63px 27px;
}

.slider-btn {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #2B2A29;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slider-btn:hover {
  opacity: 0.2;
}

.slider-btn__prev {
  z-index: 1;
  left: 0;
}

.slider-btn__next {
  z-index: 1;
  right: 0;
}

.active-dot {
  width: 13px;
  height: 13px;
  margin: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #E31E26;
}

.ideals__heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #2B2A29;
  margin-bottom: 16px;
}

.ideals__line {
  width: 410px;
  background-color: #E31E26;
  border: 2px solid #E31E26;
  margin-bottom: 24px;
}

.ideals__meaning {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
  margin-bottom: 64px;
}

.ideals-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-bottom: 64px;
}

.ideals-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 358px;
  width: 245px;
  padding: 64px 16px 0 16px;
  border-radius: 10px;
  border: 2px solid #424141;
}

.ideals-card__icon {
  position: absolute;
  width: 72px;
  height: 89px;
  top: -30px;
  right: -20px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideals-card__heading {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2B2A29;
  text-align: center;
}

.ideals-card__meaning {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
  text-align: center;
}

.founder-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.founder__img {
  padding: 81px 135px 85px 160px;
}

.founder-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.founder-about h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #424141;
  margin-bottom: 16px;
}

.founder-about h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #424141;
  margin-bottom: 16px;
}

.founder-about h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2B2A29;
  margin-bottom: 16px;
}

.founder-about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
}

.founder__line {
  width: 437px;
  background-color: #E31E26;
  border: 2px solid #E31E26;
  margin-bottom: 24px;
}

.timeline {
  height: 420px;
  background-color: #424141;
}

.principles-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principles-about {
  margin-top: 64px;
  width: 420px;
}

.principles-about h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #2B2A29;
  margin-bottom: 16px;
}

.principles-about__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #2B2A29;
  margin-bottom: 47px;
}

.principles__line {
  width: 490px;
  background-color: #E31E26;
  border: 2px solid #E31E26;
  margin-bottom: 24px;
}

.principles-details {
  margin-left: 124px;
  margin-top: 224px;
}

.principles-detail {
  width: 607px;
  border: 1px solid #000000;
  margin-bottom: 8px;
}

.principles-detail[open] summary {
  list-style-type: none;
  padding-left: 38px;
  color: #FFFFFF;
  background-color: #424141;
  margin-top: 28px;
}

.principles-detail[open] div {
  padding-top: 16px;
  padding-left: 26px;
  min-height: 94px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2B2A29;
}

.principles-summary {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2B2A29;
  list-style-type: disc;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.disciplines-wrap {
  position: relative;
}

.disciplines-about {
  position: absolute;
  top: -200px;
}

.disciplines-about h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #424141;
  max-width: 460px;
  margin-bottom: 16px;
}

.disciplines-about__line {
  width: 460px;
  background-color: #E31E26;
  border: 2px solid #E31E26;
  margin-bottom: 48px;
}

.disciplines-about__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #424141;
  max-width: 400px;
}

.disciplines-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 231px 48px 48px 48px;
}

.disciplines-card {
  width: 350px;
  height: 526px;
  border-radius: 32px;
  margin-bottom: 48px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 62px 38px 42px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.front-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.front-bottom__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.front1 {
  background-image: url("/static/img/card-background1.png");
  background-size: cover;
}

.front2 {
  background-image: url("/static/img/card-background2.png");
  background-size: cover;
}

.front2 .front-bottom__name {
  color: #424141;
}

.back {
  background-color: #D9D9D9;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 49px 41px 41px 50px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.back-text h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #424141;
  margin-bottom: 24px;
}

.back-text__explanation {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #424141;
}

.back-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.back2 {
  background-color: #424141;
}

.back2 h6 {
  color: #FFFFFF;
}

.back2 .back-text__explanation {
  color: #FFFFFF;
}

.disciplines-card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.disciplines-card:hover .back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.invisible {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */