@import "_var.scss";
@import "_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: $desktop-wrap;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.map-heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin: 60px 0 40px 0;
}

@font-face {
    font-family: "SudoVar";
    font-weight: 400;
    font-style: normal;
    src: url("/static/style/font/SudoVariable.ttf");
}

@import "block/_header.scss";
@import "block/_footer.scss";
@import "block/_promo.scss";
@import "block/_advantages.scss";
@import "block/_news.scss";
@import "block/_banner.scss";
@import "block/slider";