.advantages {
    background-color: $main-darkgrey;
    height: 420px;
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -73px;
    }
    &-card {
        width: 280px;
        height: 416px;
        border-radius: 24px;
        border: 2px solid $main-darkgrey;
        background-color: $main-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        &__svg {
            margin-bottom: 16px;
        }
        &__heading {
            height: 48px;
            @include font(600, 20px, 24px, $main-black);
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 16px;
        }
        &__text {
            @include small-font;
            text-align: center;
        }
    }
}



@media (max-width: 1240px) {
    .advantages {
        height: 712px;
        &-list {
            flex-wrap: wrap;
            top: -21px;
        }
        &-card {
            width: 320px;
            height: 350px;
            border-radius: 10px;
            border: 2px solid $main-darkgrey;
            margin-bottom: 64px;
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        height: 1237px;
        &-list {
            flex-wrap: wrap;
            top: -32px;
            justify-content: center;
        }
        &-card {
            width: 320px;
            height: 300px;
            border-radius: 10px;
            border: 2px solid $main-darkgrey;
            margin-bottom: 40px;
        }
    }
}