.banner {
    height: 400px;
    background: #595959;
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 68px;
        margin-bottom: 55px;
        &__text {
            width: 228px;
            @include font(500, 20px, 24px, $main-white);
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__text {
                @include small-font;
                color: $main-white;
                margin-bottom: 15px;
                width: 388px;
            }
            &__btn {
                @include red_btn;
            }
        }
    }
    &-cost {
        display: flex;
        position: relative;
        margin-bottom: 45px;
        margin-top: 69px;
        &__text {
            position: absolute;
            top: 90px;
            width: 213px;
            @include font(500, 20px, 24px, $main-white);
        }
    }
}

.history-banner {
    background-image: url("/static/img/history-banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    position: relative;
    &-wrap {
        display: flex;
        position: relative;
        min-height: 400px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 400px;
        margin-top: 53px;
        margin-bottom: 53px;
        & h2 {
            @include font(600, 40px, 48px, $main-darkgrey);
            width: 500px;
        }
        &__small {
            @include small-font;
        }
        &__promo {
            @include font(400, 20px, 29px, $main-black);
        }
        &__btn {
            @include red_btn;
            background-color: transparent;
            color: $main-red;
            &:hover {
                background-color: $main-pink;
                color: $main-white;
            }
            &:active {
                background-color: $main-red;
                color: $main-white;
            }
        }
    }
    &__img {
        position: absolute;
        bottom: 0;
        left: 45%;
    }
    &__photo {
        position: absolute;
        bottom: 0;
        left: 25%;
        z-index: 1;
    }
}


@media (max-width: 1240px) {
    .banner {
        height: 316px;
        background: #595959;

        & img {
            width: 221px;
            height: 311px;
        }
        &-offer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 48px;
            margin-bottom: 37px;
            &__text {
                width: 228px;
                @include font(600, 15px, 19px, $main-white);
            }
            &__bottom {
                &__text {
                    @include font(400, 12px, 15px, $main-white);
                    margin-bottom: 25px;
                    width: 322px;
                }
                &__btn {
                    padding: 8px 24px;
                    @include font(400, 11px, 13px, $main-white);
                }
            }
        }
        &-cost {
            margin-bottom: 35px;
            margin-top: 48px;
            width: 210px;
            &__text {
                position: absolute;
                top: 0;
                width: 176px;
                @include font(600, 15px, 19px, $main-white);
            }

            & img {
                position: absolute;
                bottom: 0;
                right: -60px;
                width: 300px;
                height: 133px;
            }
        }
    }
}