.main-contacts-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    & h3 {
        @include font(500, 40px, 48px, $main-black);
        margin-bottom: 40px;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .map {
        margin-left: 35px;
    }

    margin-bottom: 40px;
}

.contact {
    &__adress {
        display: flex;
        align-items: center;
        margin-bottom: 56px;

        & .left,
        .right {
            list-style-type: none;
            margin-right: 25px;

            &-item {
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                & svg:nth-of-type(n) {
                    margin-right: 21px;
                }
            }
        }
    }

    &__admin {
        display: flex;
        align-items: flex-end;
        @include font(500, 16px, 19px, $main-black);

        & span {
            @include font(600, 20px, 24px, $main-black);
        }

        &__photo {
            width: 88px;
            height: 90px;
            margin-right: 20px;
        }

        &-info {
            @include font(500, 16px, 19px, $main-black);
            margin-top: 15px;
        }
    }
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;

    & .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $main-darkgrey;
        border-radius: 10px;
        padding: 40px;
        margin-bottom: 44px;

        & p {
            @include font(600, 20px, 24px, $main-black);
            max-width: 400px;
            text-align: center;
        }

        & svg {
            margin-top: 25px;
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0;

                &:hover path {
                    fill: $main-red;
                    transition: 0.3s;
                }
            }

            &:hover circle {
                fill: $main-red;
                transition: 0.3s;
            }
        }

        &__btn {
            @include red_btn;
        }
    }
}


@media (max-width: 1240px) {    
    .contacts {
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
    
        & .map {
            margin-left: 0;

            & iframe {
                width: 500px;
                height: 356px;
            }
        }
    
        margin-bottom: 45px;
    }
    
    .contact {
        &__adress {
            display: flex;
            align-items: center;
            margin-bottom: 56px;
            margin-left: 19px;
        }
    
        &__admin {
            &-info {
                @include font(400, 16px, 19px, $main-black);
                margin-bottom: 60px;
            }
        }
    }
    
    .socials {
        & .social {
            &__btn {
                @include red_btn;
                padding: 8px 24px;
                @include font(400, 16px, 19px, $main-white);
            }
        }
    }
}

@media (max-width: 767px) {
    .main-contacts-wrap {
        & h3 {
            @include font(500, 17px, 20px, $main-black);
        }
    } 
    .contacts {
        max-width: 386px;
    
        & .map {
            margin-left: 0;
            margin-top: 0;
            & iframe {
                width: 386px;
                height: 279px;
                margin-top: 0;
            }
        }
    
        margin-bottom: 35px;
    }
    
    .contact {
        &__adress {
            margin-bottom: 40px;
            margin-left: 0;
            & .left-item, .right-item {
                @include font(400, 13px, 15px, $main-black);
            }
        }
    
        &__admin {
            @include font(400, 13px, 15px, $main-black);
            & span {
                @include font(600, 13px, 15px, $main-black);
            }
            &-info {
                @include font(400, 13px, 15px, $main-black);
                margin-bottom: 60px;
            }
            &__photo {
                width: 83px;
                height: 81px;
            }
        }
    }
    
    .socials {
        margin-bottom: 60px;
        & .social {
            & p {
                @include font(600, 15px, 18px, $main-black);
            }
            &__btn {
                @include red_btn;
                padding: 6px 14px;
                @include font(500, 10px, 12px, $main-white);
            }
        }
    }
}