.footer {
    background-color: $main-darkgrey;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 35px 0;
    }
    &-logo {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: #bfbfbf;
        &__svg {
            margin-bottom: 4px;
        }
    }
    &-admin {
        text-decoration: none;
        color: #bfbfbf;
        margin-top: 14px;
        font-weight: 400;
    }
    &-subheading {
        color: $main-white;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    &-list {
        list-style-type: none;
        &-item {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        &-link {
            text-decoration: none;
            font-size: 14px;
            line-height: 17px;
            color: #bfbfbf;
            &:hover {
                text-decoration: underline;
            }
        }
        &__span {
            font-size: 14px;
            line-height: 20px;
            color: #bfbfbf;
            margin-left: 11px;
        }
    }
    &-social {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        &-item {
            margin: 30px 20px 0 0;
        }
        &-link:hover {
            svg circle {
                fill: $main-white;
                transition: 0.3s;
            }
        }
        &-link__last:hover {
            svg {
                circle {
                    fill: $main-darkgrey;
                    transition: 0.3s;
                }
                path {
                    fill: $main-white;
                    transition: 0.3s;
                }
            }
        }
    }
}
