.footer {
    background-color: $main-darkgrey;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 35px 0;
    }
    &-logo {
        display: flex;
        flex-direction: column;
        @include font(600, 10px, 14px, $main-white);
        &__svg {
            margin-bottom: 4px;
        }
    }
    &-admin {
        text-decoration: none;
        color: #bfbfbf;
        margin-top: 14px;
        font-weight: 400;
    }
    &-subheading {
        @include font(500, 20px, 28px, $main-white);
        margin-bottom: 10px;
        font-style: normal;
    }
    &-list {
        list-style-type: none;
        &-item {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        &-link, span {
            text-decoration: none;
            @include font(400, 14px, 17px, #bfbfbf);
            &:hover {
                text-decoration: underline;
            }
        }
        & svg {
            margin-right: 11px;
        }
    }
    &-social {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        
        &-item {
            margin: 30px 20px 0 0;
        }
        &-link:hover {
            svg circle {
                fill: $main-white;
                transition: 0.3s;
            }
        }
        &-link__last:hover {
            svg {
                circle {
                    fill: $main-darkgrey;
                    transition: 0.3s;
                }
                path {
                    fill: $main-white;
                    transition: 0.3s;
                }
            }
        }
    }
}




@media (max-width: 1240px) {
    .footer {
        &-wrap {
            padding: 12px 0 21px 0;
        }
        &-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include font(500, 10px, 12px, $main-white);
            &__svg {
                margin-bottom: 11px;
                width: 36px;
                height: 36px;
            }
        }
        &-admin {
            @include font(400, 10px, 12px, #BFBFBF);
            margin-top: 11px;
        }
        &-subheading {
            @include font(500, 12px, 14px, $main-white);
            margin-bottom: 10px;
        }
        &-list {
            @include font(500, 12px, 14px, $main-white);
            max-width: 130px;
            &-item {
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                & svg {
                    display: none;
                    margin-right: 2;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background-color: #BFBFBF;
                    border-radius: 5px;
                    margin-right: 8px;
                }
            }
            &-link, span {
                text-decoration: none;
                @include font(400, 10px, 12px, #bfbfbf);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &-social {
            &-item {
                margin: 14px 18px 0 0;

                & svg {
                    display: block;
                }
            }
            &-link:hover {
                svg circle {
                    fill: $main-white;
                    transition: 0.3s;
                }
            }
            &-link__last:hover {
                svg {
                    circle {
                        fill: $main-darkgrey;
                        transition: 0.3s;
                    }
                    path {
                        fill: $main-white;
                        transition: 0.3s;
                    }
                }
            }
        }
    }  
}

@media (max-width: 767px) {
    .footer {
        &-wrap {
            padding: 15px 0 21px 0;
            position: relative;
            justify-content: flex-start;
            align-items: baseline;
        }
        &-logo {
            max-width: 97px;
            text-align: center;
            @include font(400, 10px, 12px, $main-white);
            &__svg {
                margin-bottom: 11px;
                width: 36px;
                height: 36px;
            }
        }
        &-admin {
            @include font(400, 10px, 12px, #BFBFBF);
            margin-top: 0;
            position: absolute;
            right: 0;
            bottom: 24px;
            max-width: 88px;
            text-align: center;
        }
        &-info {
            display: none;
        }
        &-forparents {
            display: none;
        }
        &-contacts {
            width: 194px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-list {
            @include font(400, 10px, 12px,#BFBFBF);
            max-width: 130px;
            &-item {
                margin-bottom: 6px;
                &::before {
                    display:none;
                }
            }

            &__span {
                width: 100%;
                text-align: center;
            }
        }
        &-social {
            position: absolute;
            top: 33px;
            right: 0;
            &-item {
                margin: 0 15px 0 0;

                &:last-of-type {
                    margin: 0;
                }

                & svg {
                    display: block;
                }
            }
            &-link svg {
                margin: 0;
            }
            &-link__last svg {
                margin: 0;
            }
            &-link:hover {
                svg circle {
                    fill: $main-white;
                    transition: 0.3s;
                }
            }
            &-link__last:hover {
                svg {
                    circle {
                        fill: $main-darkgrey;
                        transition: 0.3s;
                    }
                    path {
                        fill: $main-white;
                        transition: 0.3s;
                    }
                }
            }
        }
    }  
}