form {
    margin-bottom: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
        display: none;
    }

    & .form-input {
        appearance: none;
        padding: 0 16px;
        width: 522px;
        height: 57px;
        border: 1px solid $main-darkgrey;
        margin-bottom: 16px;
        border-radius: 6px;
        @include small-font;
        font-family: "Montserrat", sans-serif;

        &::placeholder {
            font-family: "Montserrat", sans-serif;
            @include small-font;
            color: $main-lightgrey;
        }
    }

    & option {
        color: $main-darkgrey;
    }

    & button {
        margin-top: 23px;
        font-family: "Montserrat", sans-serif;
        background-color: $main-black;
        border: 1px solid $main-black;
        @include font(500, 16px, 19px, $main-white);
        padding: 10px 50px;
        border-radius: 6px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $main-lightgrey;
            border: 1px solid $main-lightgrey;
        }

        &:active {
            border: 1px solid $main-black;
            background-color: $main-white;
            color: $main-black;
        }
    }

    & .form-checkbox {
        align-self: flex-start;
        width: 16px;
        height: 16px;

        &-container {
            width: 100%;
            display: flex;
            align-items: center;
        }

        &__label {
            margin-left: 6px;
            display: flex;
            @include font(400, 14px, 17px, $main-darkgrey)
        }
    }
}

@media (max-width: 767px) {
    form {
        margin-bottom: 20px;

        & .form-input {
            padding: 0 16px;
            width: 324px;
            height: 36px;
            @include font(400, 10px, 12px, $main-darkgrey);
            font-family: "Montserrat", sans-serif;

            &::placeholder {
                font-family: "Montserrat", sans-serif;
                @include font(400, 10px, 12px, $main-lightgrey);
            }
        }

        & button {
            @include font(500, 10px, 12px, $main-white);
            padding: 6px 15px;
        }

        & .form-checkbox {
            &__label {
                @include font(400, 10px, 12px, $main-darkgrey)
            }
        }
    }
}