.founder {
    &-wrap {
        display: flex;
    }
    &__img {
        padding: 81px 135px 85px 160px;
    }
    &-about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 64px;
        & h6 {
            @include font(600, 20px, 24px, $main-darkgrey);
            margin-bottom: 16px;
        }
        & h3 {
            @include font(500, 40px, 48px, $main-darkgrey);
            margin-bottom: 16px;
        }
        & h5 {
            @include font(600, 20px, 24px, $main-black);
            margin-bottom: 16px;
        }
        &__text {
            @include small-font;
        }
    }
    &__line {
        width: 437px;
        background-color: $main-red;
        border: 2px solid $main-red;
        margin-bottom: 24px;
    }
}

@media (max-width: 1240px) {
    .founder {
        &-wrap {
            position: relative;
            display: flex;
        }
        &__img {
            padding: 0;
            top: 220px;
            right: 10px;
            position: absolute;
        }
        &-about {
            margin-bottom: 30px;
            & h6 {
                @include font(600, 20px, 24px, $main-darkgrey);
            }
            & h3 {
                @include font(500, 32px, 39px, $main-black);
            }
            & h5 {
                @include font(400, 16px, 19px, $main-black);
                &:last-of-type {
                    margin-bottom: 54px;
                }
            }
            &__text {
                @include font(400, 14px, 17px, $main-black);
                max-width: 372px;
            }
        }
        &__line {
            width: 481px;
            border: 1px solid $main-red;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1240px) {
    .founder {
        &-wrap {
            position: relative;
            display: flex;
        }
        &__img {
            padding: 0;
            top: 0;
            right: 10px;
            position: absolute;
        }
        &-about {
            margin-bottom: 30px;
            & h6 {
                @include font(600, 15px, 18px, $main-darkgrey);
                margin-bottom: 16px;
                max-width: 220px;
            }
            & h3 {
                @include font(500, 17px, 20px, $main-black);
                margin-bottom: 5px;
                max-width: 220px;
            }
            & h5 {
                @include font(400, 12px, 14px, $main-black);
                max-width: 220px;
                &:first-of-type {
                    margin-top: 42px;
                }
                &:last-of-type {
                    margin-bottom: 42px;
                }
            }
            &__text {
                @include font(400, 10px, 12px, $main-black);
                max-width: 362px;
                margin-top: 10px;
            }
        }
        &__line {
            width: 250px;
            border: 1px solid $main-red;
            margin-bottom: 0;
        }
    }
}