[data-hidden=true] {
    display: none;
}

[data-hidden=false] {
    display: block;
}

.nav-ctrl span,
.dots-ctrl li {
    transition: all 0.3s;
}

.gallery {
    width: 100%;
    margin: 0 auto;
    visibility: hidden;

    & .slider {
        width: 100%;
        max-width: 1240px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    & .banner-tablet {
        display: none;
    }
}

.stage {
    display: flex;
    overflow: hidden;
    min-height: 380px;

    & div {
        float: left;
        position: relative;

        & img {
            min-height: 380px;
        }
    }
}

.control {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav-ctrl {
    height: 100%;
    width: 100%;

    & span {
        display: block;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: 0.3s;

        &.disable {
            opacity: 0;
        }
    }

    & .prev {
        left: 0;
    }

    & .next {
        right: 0;
    }

    & .main-prev,
    .main-next {
        bottom: 0;
        width: 13%;
        height: 400px;
        background-color: $main-darkgrey;

        &:hover {
            opacity: 0.2;
        }
    }
}

.dots-ctrl {
    position: relative;
    text-align: center;

}

.dots-ctrl li {
    display: inline-block;
    border-radius: 50%;
    background-color: $main-lightgrey;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.dots-ctrl li+li {
    margin-left: 10px;
}

.dots-ctrl .active {
    background-color: $main-red;
}

.dots-ctrl li:hover {
    background-color: $main-pink;
}

.main-item__slider {
    position: relative;

    & .slider {
        max-width: 1440px;
        min-width: $desktop-wrap;
    }

    & .stage {
        height: 400px;

        & img {
            height: 400px;
        }
    }

    & .dots-ctrl {
        margin-bottom: 15px;
    }

    & .banner-desktop {
        display: block;
        width: auto;
        max-width: 100vw;
    }

    & .banner-tablet {
        display: none;
        width: auto;
        max-width: 100vw;
    }

    & .banner-phone {
        display: none;
        width: auto;
        max-width: 100vw;
    }
}

.banner-desktop {
    max-width: 1440px;
    width: 100vw;
    min-width: $desktop-wrap;
}

@media (max-width: 1240px) {
    .gallery {
        & .slider {
            max-width: $tablet-wrap;
        }

        & .banner-desktop {
            display: none;
        }

        & .banner-tablet {
            display: block;
            max-width: $tablet-wrap;
            min-width: 100vw;
        }

        & .banner-phone {
            display: none;
        }
    }

    .control {
        width: inherit;
        position: absolute;
        bottom: 0;
    }

    .nav-ctrl {

        & .main-prev,
        .main-next {
            height: 300px;
        }
    }

    .dots-ctrl {
        display: none
    }

    .main-item__slider {
        & .slider {
            max-width: 768px;
            height: 300px;
        }

        & .stage {
            min-height: unset;
            height: inherit;

            & img {
                min-height: unset;
                height: 300px;
            }
        }

        & .banner-desktop {
            display: none;
        }

        & .banner-tablet {
            display: block;
            max-width: $tablet-wrap;
            min-width: 100vw;
        }

        & .banner-phone {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .gallery {
        & .slider {
            max-width: $phone-wrap;
        }

        & .banner-desktop {
            display: none;
        }

        & .banner-tablet {
            display: none;
        }

        & .banner-phone {
            display: block;
            max-width: $phone-wrap;
            min-width: 100vw;
        }
    }

    .control {
        width: inherit;
        position: absolute;
        bottom: 0;
    }

    .nav-ctrl {

        & .main-prev,
        .main-next {
            height: 300px;
        }
    }

    .dots-ctrl {
        display: none
    }

    .main-item__slider {
        & .slider {
            max-width: 428px;
            height: 300px;
        }

        & .banner-desktop {
            display: none;
        }

        & .banner-tablet {
            display: none;
        }

        & .banner-phone {
            display: block;
            max-width: $phone-wrap;
            min-width: 100vw;
        }
    }
}