.fame {
    &-wrap {
        margin: 0 auto;
        width: 1140px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }
    &-heading {
        background-image: url("/static/img/yellow_background.png");
        background-size: cover;
        height: 420px;
        & h1 {
            @include font(500, 32px, 39px, $main-darkgrey);
        }
        &__line {
            width: 523px;
            background-color: $main-red;
            border: 1px solid $main-red;
            margin: 20px 0;
        }
        &__federation {
            @include font(600, 20px, 24px, $main-darkgrey);
        }
    }
    &__list {
        list-style-type: none;
        margin-bottom: 80px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 520px;
        margin-top: 60px;
        &__link {
            margin-top: 40px;
            width: 540px;
            height: 100px;
            border: 1px solid $main-darkgrey;
            border-radius: 23px;
            text-decoration: none;
            text-align: center;
            & h5 {
                @include font(600, 20px, 24px, $main-black);
                margin-top: 20px;
            }
            & p {
                @include small-font;
                color: $main-darkgrey;
                margin-top: 15px;
            }
        }
    }
}


@media (max-width: 1240px) {
    .fame {
        &-wrap {
            width: 700px;
        }
        &-heading {
            height: 214px;
            & h1 {
                @include font(600, 20px, 24px, $main-darkgrey);
            }
            &__line {
                width: 348px;
                margin: 10px 0;
            }
            &__federation {
                @include font(400, 16px, 19px, $main-darkgrey);
            }
        }
        &__list {
            margin-bottom: 30px;
        }
        &-item {
            min-height: 280px;
            margin-top: 30px;
            &__link {
                margin-top: 25px;
                width: 463px;
                height: 67px;
                & h5 {
                    @include font(400, 16px, 19px, $main-black);
                    margin-top: 8px;
                }
                & p {
                    @include font(400, 16px, 19px, $main-darkgrey);
                    margin-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .fame {
        &-wrap {
            width: $phone-wrap;
        }
        &-heading {
            height: 214px;
            & h1 {
                @include font(500, 17px, 20px, $main-darkgrey);
            }
            &__line {
                width: 322px;
                margin: 10px 0;
            }
            &__federation {
                @include font(400, 15px, 18px, $main-darkgrey);
            }
        }
        &-item {
            min-height: 186px;
            margin-top: 26px;
            &__link {
                border-radius: 10px;
                margin-top: 15px;
                width: 290px;
                height: 40px;
                & h5 {
                    @include font(600, 12px, 14px, $main-black);
                    margin-top: 5px;
                }
                & p {
                    @include font(400, 10px, 12px, $main-darkgrey);
                    margin-top: 5px;
                }
            }
        }
    }
}