.header {
    &-wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
    }

    &-left {
        position: relative;
        display: flex;
        align-items: center;
    }

    &-right {
        display: flex;
        align-items: center;
    }

    &-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        @include small-font;
        &__link {
            display: flex;
            flex-direction: column;
            margin-left: 12px;
        }
    }
}

.phone {
    display: flex;
    align-items: center;
    margin-right: 61px;
    &-number {
        margin-left: 4px;
        font-size: 16px;
        line-height: 20px;
    }
}

.subscribe-btn {
    background-color: $main-red;
    border: 1px solid $main-red;
    outline: none;
    @include font(500, 16px, 19px, $main-white);
    padding: 10px 50px;
    border-radius: 6px;
    transition: 0.5s ease;

    &:hover {
        background-color: $main-white;
        color: $main-red;
    }
}

.hamburger-menu {
    width: 100px;
    position: relative;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    background-color: $main-lightgrey;
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: $main-lightgrey;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: $main-lightgrey;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: -100px;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $main-darkgrey;
    transition-duration: 0.3s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    z-index: 2;
    display: block;
    position: absolute;
    visibility: hidden;
    top: -51px;
    left: -100%;
    width: 450px;
    padding-left: 80px;
    padding-top: 114px;
    padding-bottom: 200px;
    list-style: none;
    background-color: $main-darkgrey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: 0.3s ease;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    @include font(600, 20px, 20px, $main-white);
    text-decoration: none;
    transition-duration: 0.3s in;
}

.menu__item:hover {
    background-color: $main-lightgrey;
}