.main-news {
    height: 557px;
    &-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & h1 {
        @include font(500, 32px, 39px, #050505);
        margin-top: 60px;
    }
    & p {
        @include small-font;
        color: $main-darkgrey;
        margin-top: 13px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        list-style-type: none;
        margin-bottom: 30px;
        margin-top: 40px;
        &__item {
            position: relative;
            width: 400px;
            height: 288px;
            border-radius: 10px;
            box-shadow: 3px 3px 3px 0px #ACB0B2CC;
        }
    }
    &__link {
        @include font(500, 16px, 19px, $main-white);
        text-decoration: none;
        padding: 10px 34px;
        background-color: $main-black;
        border: 2px solid $main-black;
        border-radius: 6px;
        transition: 0.5s ease;
        &:hover {
            color: $main-black;
            background-color: transparent;
        }
    }
}

.news {
    &-img {
        width: 401px;
        height: inherit;
    }
    &-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0px;
        height: 70px;
        width: 401px;
        padding: 0 14px 0 19px;
        background: #424141CC;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            background-color: $main-darkgrey;
            text-decoration: underline;
            color: $main-white;
        }
        &__text {
            max-width: 300px;
            @include font(500, 20px, 24px, $main-white);
        }
    }
}

.news {
    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        & h3 {
            @include font(500, 32px, 39px, $main-black);
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }
    &__ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        & li {
            margin-bottom: 40px;
            & a {
                display: flex;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    &__img {
        height: 200px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 0px #ACB0B2CC;
        background-size: cover;
    }
    &__text {
        margin-top: 11px;
        margin-left: 20px;
        max-width: 300px;
    }
    &__date {
        @include small-font;
        color: $main-lightgrey;
        margin-bottom: 8px;
    }
    &__heading {
        @include small-font;
        font-weight: 500;
        margin-bottom: 8px;
    }
    &__description {
        @include small-font;
        color: $main-darkgrey;
    }
}

.summer-vacation {
    background-image: url("/static/img/news-vacation.png");
}

.best-trainers {
    background-image: url("/static/img/news-trainers.png");
}

.committee {
    background-image: url("/static/img/news-comitet.png");
}

.news-item {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 60px 0 40px 0;
        &__text {
            width: -webkit-fill-available;
            text-align: center;
            & h1 {
                @include font(500, 32px, 39px, $main-black);
            }
        }
    }
    &__slider {
        height: 380px;
        margin-bottom: 40px;
    }
    &__bottom {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        & .left {
            position: absolute;
            top: 0;
            left: 0;
        }
        & .right {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &__text {
            max-width: 1040px;
            & p {
                @include font(400, 14px, 17px, $main-black);
                margin-bottom: 23px;
            }
            
            & h6 {
                @include font(500, 16px, 19px, $main-black);
                margin-bottom: 25px;
            }
            & span {
                @include font(500, 16px, 19px, $main-black);
            }
            & ul {
                @include small-font;
                list-style-type: disc;
                & p {
                    @include font(500, 16px, 19px, $main-black);
                }
            }
            & li {
                @include font(400, 14px, 17px, $main-black);
                margin-left: 23px;
            }
       }
    }
}