.popup {
    margin: 5% auto 15% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1050px;
    background-color: $main-white;
    box-shadow: 4px 4px 4px 0px #000000BA;
    border-radius: 20px;
    position: relative;
    & .close__svg {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover path {
            stroke: $main-pink;
        }
        &:active path {
            stroke: $main-black;
        }
        &:hover path {
            stroke: $main-pink;
        }
        &:active path {
            stroke: $main-black;
        }
    }
    & h1 {
        @include font(500, 32px, 39px, $main-black);
        margin-top: 50px;
        margin-bottom: 40px;
    }
    & form {
        margin-bottom: 51px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & input, select {
            appearance: none;
            padding:0 16px;
            width: 522px;
            height: 57px;
            border: 1px solid $main-darkgrey;
            margin-bottom: 16px;
            border-radius: 6px;
            @include small-font;
            font-family: 'Montserrat', sans-serif;
            &::placeholder {
                font-family: 'Montserrat', sans-serif;
                @include small-font;
                color: $main-lightgrey;
            }
        }
        & option {
            color: $main-darkgrey;
        }
        & button {
            margin-top: 23px;
            font-family: 'Montserrat', sans-serif;
            background-color: $main-black;
            border: 1px solid $main-black;
            @include font(500, 16px, 19px, $main-white);
            padding: 10px 50px;
            border-radius: 6px;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                background-color: $main-lightgrey;
                border: 1px solid $main-lightgrey;
            }
        
            &:active {
                border: 1px solid $main-black;
                background-color: $main-white;
                color: $main-black;
            }
        }
    }
}

.popup-hall {
    margin: 10% auto 15% auto;
    max-width: 900px;
    height: 500px;
    border-radius: 6px;
    & h3 {
        @include font(600, 20px, 24px, $main-black);
    }
    &__timetable {
        height: 100%;
        display: flex;
        align-items: center;
        &:last-of-type {
            padding-bottom: 79px;
        }
        &__line {
            height: 87px;
            width: 2px;
            background-color: $main-red;
            border: 1px solid $main-red;
            margin-right: 25px;
        }
        & ul {
            list-style-type: none;
        }
        & .days {
            text-align: end;
            margin-right: 25px;
            & li {
                margin-bottom: 10px;
            }
        }
        & .time {
            display: flex;
            & li {
                display: flex;
                margin-right: 20px;
                & svg {
                    margin-right: 10px;
                }
            }
        }
    }
}

.popup-feedback {
    & h3 {
        @include font(600, 20px, 24px, $main-black);
        margin-bottom: 15px;
        margin-top: 53px
    }
    & p {
        @include font(500, 16px, 19px, $main-black);
        margin-bottom: 40px;
        max-width: 600px;
        text-align: center;
    }
    & form input {
        width: 722px;
        &::placeholder {
            padding:  0 27px;
        }
    }
    & textarea {
        resize: none;
        height: 244px;
        width: 722px;
        border-radius: 6px;
        border: 1px solid $main-darkgrey;
        padding: 18px 43px;
        @include font(500, 16px, 19px, $main-black);
        &::placeholder {
            @include font(400, 16px, 19px, $main-lightgrey);
            font-family: 'Montserrat', sans-serif;
        }
    }
    & .feedback__btn {
        @include red_btn;
    }
}