.promo {
    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 60px 0 134px 90px;
        &-item {
            position: relative;
            @include font(600, 20px, 25px, $main-black);
            margin-bottom: 80px;
            width: 300px;
            margin-right: 80px;
            &:nth-of-type(3n) {
                margin-right: 0;
            }
            &__red {
                position: absolute;
                display: inline-block;
                top: 17px;
                right: 102%;
                @include font(600, 60px, 25px, $main-red);
                opacity: 0;
            }
        }
    }
}

.visible {
    opacity: 1;
    transition: 1.8s;
}

.about-promo {
    background: border-box;
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("/static/img/landscape.png");
    &__wrap {
        min-height: 514px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    &__span {
        @include font(500, 40px, 48px, $main-white);
        display: block;
        width: 616px;
        margin-top: 89px;
    }
    &__img {
        position: absolute;
        bottom: 0;
        right: -20px;
    }
    &__text {
        &__heading {
            @include font(500, 40px, 48px, $main-darkgrey);
            margin-bottom: 24px;
        }
        &__meaning {
            @include small-font;
            color: $main-darkgrey;
            margin-bottom: 64px;
        }
    }
}

.history-promo {
    background-color: $main-darkgrey;
    &-wrap {
        padding: 73px 90px;
    }
    &-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-card {
        width: 245px;
        height: 274px;
        background-color: $main-white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 16px;
        &__text {
            margin-top: 24px;
            @include small-font;
            text-align: center;
        }
    }
}