.slider {
    position: relative;
    &-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-item {
        height: 400px;
        &__dots {
            display: flex;
            align-items: center;
            margin: 20px;
            position: absolute;
            bottom: 0px;
        }
        &__dot {
            fill: #ACB0B2;
            margin: 6px;
        }
    }
    &-item1 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/static/img/grey-textured-background.png");
        background-size: cover;
        img:nth-child(2) {
            margin: 50px 25px;
        }
    }
    &-item2 {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        &__text {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: -55px;
            padding: 30px 60px;
            background-color: #E3E4E7;
            border-radius: 10px;
            box-shadow: -10px 10px 12px 0px #00000030;
            box-shadow: -2px 2px 5px 0px #0000005E;
            &__article {
                font-weight: 400;
                font-size: 30px;
                line-height: 33px;
                margin-bottom: 14px;
                width: 555px;
            }
            &__small {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                color: $main-darkgrey;
                text-align: end;
            }
        }
        &__img{
            position: absolute;
            right: -120px;
        }
    }
    &-item3 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        background-image: url("/static/img/lightgrey-textured-background.png");
        background-size: cover;
        width: 100%;
        height: 100%;
        &__text {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            &__article {
                @include font(400, 25px, 33px, $main-black);
                max-width: 624px;
                margin-top: 42px;
            }
            &__small {
                font-family: "SudoVar";
                font-weight: 300;
                font-size: 18px;
                line-height: 23px;
                position: absolute;
                bottom: 50px;
                left: 40%;
                width: 410px;
            }
        }
        img:nth-child(1) {
            margin: 63px 79px 63px 27px;
        }
    }
    &-btn {
        position: absolute;
        width: 20%;
        height: 100%;
        background-color: $main-black;
        opacity: 0;
        transition: 0.5s ease;
        &:hover {
            opacity: 0.2;
        }
        &__prev {
            z-index: 1;
            left: 0;
        }
        &__next {
            z-index: 1;
            right: 0;
        }
    }
}

.active-dot {
    width: 13px;
    height: 13px;
    margin: 4px;
    transition: 0.3s;
    fill: $main-red;
}
